.successscreen {
  max-width: 1300px;
  margin: 2rem auto;
}

.successscreen_title,
.successscreen_notification {
  margin-bottom: 1.3rem;
  margin: 1rem;
}

.successdetails,
.successitems_list,
.successscreen_returnbutton {
  margin: 1rem;
  background: #fff;
}

.successscreen_returnbutton {
  background: #fff;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
}
.successscreen_returnbuttonlink {
  text-decoration: none;
  color: #0c0ebd;
  padding: 1rem;
}
.successscreen_returnbutton:hover {
  background: #0c0ebd;
}
.successscreen_returnbuttonlink:hover {
  color: #f4f4f4;
}
